* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: gray;
  width: 100%;
  height: 100vh;
}
.container {
  box-shadow: 30px 30px 40px black;
  width: 343px;
  height: 513px;
  background: black;
  border: 3px solid #e0974c;
  border-radius: 20px;
  margin: 10vh auto;
}
input {
  width: 100%;
  height: 10vh;
  background: black;
  border: 1px solid hidden;
  color: white;
  font-size: 30px;
  text-align: revert;
  border-radius: 20px;
  border-bottom: 2px solid black;
  text-align: right;
  color: aliceblue;
}
input::placeholder {
  color: #fff;
  text-align: right;
} */
input:value {
  color: #fff;
  text-align: right;
}
.btncontent {
  background: black;
}
.bouton {
  margin: 0;
  border-style: none;
  width: 24%;
  height: 86.5px;
  font-size: 30px;
  border-bottom: 3px solid black;
}
.c {
  width: 49.3%;
}
.o {
  width: 74.6%;
}
.op {
  background: #e0974c;
  color: white;
}
.eq {
  background: #e0974c;
}
